body {
    margin: 0;
    /*max-width: 600px;*/
}





.subtitle {


    font-size: 15px;
    text-align: left;
    font-style: italic;
    color: #6C757F;
    margin-top: 20px;
    line-height: 7px;

    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

}

.copy {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 18px;

}

.active {
    opacity: 1;
    transition: opacity 10s;
}

.inactive {
    opacity: 0;
    transition: opacity 1s;
}

.scroller {
    width: 100%;
    margin-bottom: 10px;
}

.scroll-graphic {
    position: sticky;
    top: 0;
    height: 100vh;
}

.photo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

/*.img
{ 
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  }*/



.photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.scroll-scenes {
    position: relative;
    padding-top: 50vh;
}

.scene {
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    max-width: 500px;
    margin: auto;
    margin-bottom: 100vh;
    padding: 15px;
}

.after {
    height: 1px;
}

.chart {
    display: flex;
    /*  margin-left: 40px;
  margin-right: 40px; */
    margin: auto;
    width: 600px;
}

h1 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: left;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
    /*    color:#6C757F;*/
    margin-top: 20px;
}

.parent-container {
    width: 23%;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 7px;
    height: 150px;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: #ffffff;
}

.group-revenue {

    font-size: 15px;
    font-style: bold;
    color: grey;
    text-align: center;
    /*  padding-left: 45px;*/
    margin-bottom: 25px;

    /*padding-bottom: 300px;*/
}


.group-country {

    font-size: 15px;
    font-style: bold;
    color: grey;
    /* margin-top: -18px;*/
    text-align: center;
    /*  padding-left: 45px;*/
}

.d1 {

    font-size: 15px;
    font-style: bold;
    color: grey;
    margin-top: -18px;
    text-align: right;
    padding-right: 475px;
    /*    padding-top: -40px;*/
}

.text {
    font-size: 80px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

/* the pink boxes we will transition */
.box {
    /*  padding:10px;*/
    width: 10px;
    height: 10px;
    margin: 2px;
    z-index: 0;
    background-color: #FF7373;
    position: relative;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    transform: scale(0);
}

.e {


    font-size: 12px;
    text-align: center;
    font-style: italic;
    color: #6C757F;
    /* margin-top: 20px;*/
    /*line-height: 1px;*/

    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    /*  margin-bottom: 20px;*/

}